<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
    <body>


            <!-- Page content-->
            <section class="py-5" th:fragment="contact">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Contact</span></h1>
                    <br>
                    <h3 class="display-8 fw-bolder mb-0"><span class="text-gradient d-inline">gaurav.shekhar7197@gmail.com</span></h3>
                    <br>
                    <a class="btn btn-primary px-4 py-3" href="mailto:gaurav.shekhar7197@gmail.com.com">Send an email</a>



                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-11 col-xl-9 col-xxl-8">
                        <!-- Experience Section-->
                        <section>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h2 class="text-primary fw-bolder mb-0">LinkedIn</h2>

                                <a class="btn btn-primary px-4 py-3" href="https://www.linkedin.com/in/gaurav-shekhar-271731276">

                                     Connect
                                </a>
                            </div>

                        </section>

                        <section>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                            <h2 class="text-secondary fw-bolder mb-4">GitHub</h2>

                            <a class="btn btn-primary px-4 py-3" href="https://github.com/Shekhar719">

                                Connect
                            </a>
                            </div>
                        </section>

                    </div>
                </div>
            </section>



    </body>
</html>
