<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>


<section class="py-5" th:fragment="privacy">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Privacy</span></h1>
        <br>
        <h3 class="display-7 fw-bolder mb-0"><span class="text-gradient d-inline">This is a personal portfolio website created by Gaurav to showcase projects, skills, and experience.
        </span></h3>
        <br>

        <p>I don’t sell, trade, or misuse any data — mainly because I don’t collect much to begin with.</p>
        <br>
        <p>If you contact me via a form or email, your information will only be used to respond and will never be shared.</p>


</section>



</body>
</html>
